<a href="https://colab.research.google.com/github/joy0512/test_project/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 사전의 구조와 이해

price = {'김밥': 5000, '어묵':3000, '떡볶이':2000}
print("김밥의 가격은?", price['김밥'])
print(price.values())

김밥의 가격은? 5000
dict_values([5000, 3000, 2000])

In [2]:
# 리스트의 슬라이싱을 사용하여 아래를 출력하세요

tp = [1,2,3,4,5,6,7]

print(tp[0])

print(tp[0:3])

print(tp[3:])

print(tp[-1])

tp.reverse()
print(tp)

1
[1, 2, 3]
[4, 5, 6, 7]
7
[7, 6, 5, 4, 3, 2, 1]

In [3]:
# 조건문
# 점수를 입력받아 등급을 출력하세요
# 등급표 81~100	A / 61~80	B / 41~60	C / 21~40	D / 0~20	E

score = int(input("점수를 입력하세요: "))

if score <= 100 and score >= 81 :
    grade="A"
elif score <= 80 and score >= 61 :
    grade="B"
elif score <= 60 and score >= 41 :
    grade="C"
elif score <= 40 and score >= 21 :
    grade="D"
elif score <= 20 and score >= 0 :
    grade="E"

print("점수는 %d이며 등급은 %s등급입니다." %(score,grade))

점수를 입력하세요: 67
점수는 67이며 등급은 B등급입니다.

In [4]:
# 함수를 만들고 두 수를 입력받아 연산하세요

a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))

print("덧셈 함수 연산:",a+b)
print("곱셈 함수 연산:",a*b)
print("제곱 함수 연산:",a**b)

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 5
덧셈 함수 연산: 8
곱셈 함수 연산: 15
제곱 함수 연산: 243

In [6]:
# 알고리즘 생성
# 피보나치 수열을 계산하는 함수를 생성하고 자연수 10을 넣어 실행하세요

def pivo(n):
    a = 1
    b = 1
    if n == 1 or n == 2:
    	return 1
    for i in range(1, n):
    	a, b = b, b + a
    
    return a

print(pivo(10))

55

In [7]:
# 클래스
# 사람 (Human) 클래스를 정의하고 (이름, 나이, 성별)을 받는 생성자를 추가하세요.
class Human :
    def __init__(self, name,age,gender):
        self.name = name
        self.age=age
        self.gender=gender

    def info(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.gender))

a = Human("김영희",18,"여자")
b = Human("홍길동",25,"남자")
c = Human("박철수",32,"남자")
d = Human("이수진",40,"여자")

a.info()
b.info()
c.info()
d.info()

이름: 김영희 나이: 18 성별: 여자
이름: 홍길동 나이: 25 성별: 남자
이름: 박철수 나이: 32 성별: 남자
이름: 이수진 나이: 40 성별: 여자